NODE_ENV=development
PORT=3001

DB_HOST=localhost
DB_PORT=5432
DB_NAME=bdp_creditos
DB_USER=bdp_user
DB_PASSWORD=bdp_password

JWT_SECRET=bdp-super-secret-jwt-key-cambiar-en-produccion
JWT_EXPIRES_IN=8h

BCRYPT_ROUNDS=12
